<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a href="/home"><- Atrás</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-6">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="card-title">
                        <h3 class="text-white">ACTUALIZAR USUARIO</h3>
                    </div>
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>                
                        <div class="mb-3">
                            <label for="firstname" class="form-label">Nombres</label>
                            <input type="text" class="form-control" name="firstname" ngModel required #firstname="ngModel" [(ngModel)]="user.firstname">
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" name="lastname" ngModel required #lastname="ngModel" [(ngModel)]="user.lastname">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" class="form-control" name="email" ngModel required #email="ngModel" [(ngModel)]="user.email">
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>